<!-- Cart Page -->

<%- include("../includes/head.ejs") %>

<body>

    <%- include("../includes/navigation.ejs") %>

    <h1>Your Orders</h1>

    <ul>

        <% if (hasOrders) { %>

        <% for (order of orders) { %>

        <li>
            <%= order.title %>
            <%= order.quantity %> 
            <%= order.price %>
            <%= order.imageUrl %>  
            <%= order.description %>
        </li>
        
    </ul>
        <% } %>

        <% } else { %>

        <p>No Orders</p>

        <% } %>
    

</body>

</html>