<!-- Cart Page -->

<%- include("../includes/head.ejs") %>

<body>

    <%- include("../includes/navigation.ejs") %>

    <h1>Your Orders</h1>

    <ul>

        <% if (hasOrders) { %>

        <% for (order of orders) { %>

        <% for (product of order.items) { %>

        <li>
            <h2><%= product.productId.title %></h2>
            <p>Quantity: <%= product.quantity %></p>
        </li>

        <br/>
        
        <% } %>

        <%= order.status  %>
        
    </ul>
        <% } %>

        <% } else { %>

        <p>No Orders</p>

        <% } %>
    

</body>

</html>