<!-- product detail template -->

<%- include("../includes/head.ejs") %>

<body>

    <%- include("../includes/navigation.ejs") %>

    <main id="product-item">
        <h1><%= product.title %></h1>
        <p><%= product.description %></p>
        <p><%= product.price %></p>
        <!-- <img src="<%= product.imageUrl %>" alt="<%= product.title %>"> -->
        
            <% if( isAuthenticated )  { %>
            <form action="/cart/add-to-cart" method="POST">
            <input type="hidden" name="productId" value="<%= product._id %>">
            <input type = "hidden" name = "_csrf" value = "<%= csrfToken %>">
            <button type="submit">Add to Cart</button> 
            </form>
            <a href="/admin/edit-product/<%= product._id %>/?isEdit=true">
            edit
            </a>
            <!-- Delete -->
            <form>
                <input type="hidden" name="productId" value="<%= product._id %>">
                <input type = "hidden" name = "_csrf" value = "<%= csrfToken %>">
                <button type="button" onclick="deleteProduct(this)">Delete Product</button>
            </form>

           
            <% } %>
            <div>
                
            </div>
    </main>
</body>

</html>