<%- include("../includes/head.ejs") %>

<body>

    <%- include("../includes/navigation.ejs") %>

    <main>
        
        <% if (hasProducts) { %>
          <ol>
          <% for(let prod of products) { %>
            <li>
               <h2> <%= prod.title %> </h2> 
               <p> Price: <%= prod.price %> </p>
               <p>imageUrl: <%= prod.imageUrl %> </p>
            </li>

              <a href="/product/<%= prod._id %>">View Product </a>

              
               <!-- <form action="/admin/delete-product" method="POST">
                <input type="hidden" name="productId" value="<%= prod.id %>">
                <button type="submit">Delete Product</button>
              </form> -->
          <% } %>
          </ol>  

        <%} else { %>
            <h2>No Products found</h2>
        <% } %>    
        
         <!-- View product by id from the database -->


    </main>
</body>

</html>