<%- include("../includes/head.ejs") %>

<body>

    <%- include("../includes/navigation.ejs") %>

    <main>
        
        <% if (hasProducts) { %>
          <ol>
          <% for(let prod of products) { %>
            <li>
               <h2> <%= prod.title %> </h2> 
            </li>

            <p> Price: <%= prod.price %> </p>

              <a href="/product/<%= prod.id %>">View Product </a>

          <% } %>
          </ol>  

        <%} else { %>
            <h2>No Products found</h2>
        <% } %>    
        
         <!-- View product by id from the database -->


    </main>
</body>

</html>